@model Domain.GEN.Report

@{
    ViewBag.Title = "Formato de Reporte";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div id="divPrint">
    @Html.HiddenFor(model => model.ReportId)
    <div style="color: green;font-weight:bold">
        Aqui se configura el cuerpo del reporte general, es decir, aca se pone el logo, nombre del centro, lo que quiere que salga en la cabecera de sus impresiones y lo que quiere que salga de pie de pagina.
        <br/>
        Nota: La configuracion hecha aqui, modifica todas las impresiones realizadas en el sistema completo. (Recetas, Facturas, Certificados, Etc...)
    </div>
    <p>
        <a class="btn btn-success" href="@Url.Action("MedHist", "Patients", new { area = "Medicals" })">
            <span class="fa fa-reply"></span> Volver
        </a>
        <a class="btn btn-warning" href="@Url.Action("Edit", "Reports", new {area = "Configurations", id = @Model.ReportId})"> <span class="fa fa-pencil-square-o"></span> Editar Reporte General </a>

    </p>
</div>

<div id="Div2" runat="server" style="width: 8.5in; height: 11in;">
    <div>
        <table id="TableHeader" border="0" style="font-size: 12pt; font-family: Times New Roman; width: 8in; font-weight: bold; text-transform: uppercase">
            <tr>
                <td rowspan="4" style="width: 15%">

                    @if (!string.IsNullOrEmpty(Model.Imagen))
                    {
                        <img src="@Url.Content(Model.Imagen)" alt="Image" style="width: auto; height: 107px;" dir="rtl" />
                    }
                </td>
                <td rowspan="4" style="width: 75%; text-align: center">
                    @if (!string.IsNullOrEmpty(Model.Header1))
                    {
                        <div>
                            @Html.DisplayFor(model => model.Header1, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.Header2))
                    {
                        <div>
                            @Html.DisplayFor(model => model.Header2, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.Header3))
                    {
                        <div>
                            @Html.DisplayFor(model => model.Header3, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    }
                </td>
                <td rowspan="4" style="width: 0%"></td>
                <td style="width: 10%"></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td colspan="4" style="text-align: center">
                    DESCRIPCION DEL REPORTE (CERTIFICADO MEDICO, OBSTETRICIA, ETC...)
                </td>
            </tr>
        </table>
    </div>
    <hr />
    <div>
        <table id="TableBody" border="0" style="font-size: 12pt; font-family: Times New Roman; width: 8in;">
            <tr>
                <td>
                    CUERPO DEL REPORTE
                </td>
            </tr>
        </table>
    </div>
    <div style="position: absolute; bottom: 0px;">
        <table id="TableFooter" border="0" style="font-size: 12pt; font-family: Times New Roman; width: 8in; ">
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(Model.Footer1))
                    {
                        <div>
                            @Html.DisplayFor(model => model.Footer1, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.Footer2))
                    {
                        <div>
                            @Html.DisplayFor(model => model.Footer2, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.Footer3))
                    {
                        <div>
                            @Html.DisplayFor(model => model.Footer3, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    }
                </td>
            </tr>
        </table>
    </div>
</div>




