@model Domain.GEN.AuthorPlan

@{
    ViewBag.Title = "Plan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Currency.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Periodicity.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Periodicity.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>
<div>
    @Html.ActionLink("Volver a la Lista de Planes", "Index") &nbsp; &nbsp; / &nbsp;&nbsp;
    @Html.ActionLink("Asociar Opcion", "CreateOption", new { id = Model.AuthorPlanId })
</div>
<br/> <br/> 
@if (Model.AuthorPlanOptions.Count == 0)
{
    <div> No hay opciones asignadas a este plan aun :'(</div>
}
else
{
    
    <table class="table">
        <tr>
            <th>
                Opcion
            </th>
            <th>
                Link
            </th>

            <th></th>
        </tr>


        @foreach (var item in Model.AuthorPlanOptions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Option.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Option.Link)
                </td>
                <td>
                    @Html.ActionLink("EditOption", "Edit", new { id = item.AuthorPlanOptionId }) |
                    @Html.ActionLink("DetailsOption", "Details", new { id = item.AuthorPlanOptionId }) |
                    @Html.ActionLink("DeleteOption", "Delete", new { id = item.AuthorPlanOptionId })
                </td>
            </tr>
        }

    </table>

 

}

