@model IEnumerable<Domain.MED.Patient>

<div class="scroller">
    <table id="MyTable" class="table table-striped table-bordered dt-responsive nowrap">
        <thead>
            <tr>
                <th>Acciones</th>
                <th># Expediente</th>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                @*<th>
                        Género
                    </th>*@
                <th>Email</th>
                <th>Tel</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="btn btn-warning" href="@Url.Action("Edit", "Patients", new { area = "Medicals" , id=@item.PatientId })"> <span class="fa fa-pencil-square-o"></span> Editar</a>
                        <a class="btn btn-info" href="@Url.Action("Details", "Patients", new { area = "Medicals" , id=@item.PatientId })"> <span class="fa fa-info"></span> Detalles e Historia Clinica </a>
                        <a class="btn btn-danger" href="@Url.Action("Delete", "Patients", new { area = "Medicals" , id=@item.PatientId })" onclick="return confirm('Esta seguro que desea eliminar este registro?')"> <span class="fa fa-trash-o"></span> Eliminar </a>
                    </td>
                    <td>
                        @if (string.IsNullOrEmpty(item.Record2))
                        {
                            @Html.DisplayFor(modelItem => item.Record)
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Record2)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.Rnc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.LastName)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Person.Gender.Name)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Person.Tel)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>