@model Backend.Areas.Medicals.Models.AnalyticalsView
@{
    Layout = null;
}

<style>
    @@page {
        size: A4;
        margin: 1cm;
    }

    .print {
        display: none;
    }

    @@media print {
        div.fix-break-print-page {
            page-break-inside: avoid;
        }

        .print {
            display: block;
        }
    }

    .print:last-child {
        page-break-after: auto;
    }
</style>
<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px 5px;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: black;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 5px;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: black;
        }

        .tg .tg-0qnx {
            font-weight: bold;
            background-color: #00d2cb;
            border-color: #3166ff;
            vertical-align: top
        }

        .tg .tg-yw4l {
            vertical-align: top
        }

        .tg .tg-8m2u {
            font-weight: bold;
            border-color: inherit
        }

        .tg .tg-us36 {
            border-color: inherit;
            vertical-align: top
        }

        .tg .tg-p8bj {
            font-weight: bold;
            border-color: inherit;
            vertical-align: top
        }
</style>
<style type="text/css">
    .tg2 {
        border-collapse: collapse;
        border-spacing: 0;
    }

        .tg2 td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: black;
        }

        .tg2 th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: black;
        }

        .tg2 .tg-88td {
            border-color: #00009b;
            vertical-align: top
        }

        .tg2 .tg-h3l9 {
            background-color: #96fffb;
            border-color: #00009b;
            vertical-align: top
        }

        .tg2 .tg-z4d3 {
            font-weight: bold;
            background-color: #96fffb;
            border-color: #00009b
        }

        .tg2 .tg-1lb6 {
            font-weight: bold;
            background-color: #96fffb;
            border-color: #00009b;
            vertical-align: top
        }
</style>

@{
    int counter = 0;
}
<div>
    <div style="height: 30%; width: 100%">
        <table id="TableHeader" style="font-size: 12pt; font-family: Times New Roman; font-weight: bold; text-transform: uppercase">
            <tr>
                <td rowspan="4" style="width: 15%">

                    @if (!string.IsNullOrEmpty(Model.Imagen))
                    {
                        <img src="@Url.Content(Model.Imagen)" alt="Image" style="width: 120px; height: 85px;" dir="rtl" />
                    }
                </td>
                <td rowspan="4" style="width: 75%; text-align: center">
                    @if (!string.IsNullOrEmpty(Model.Header1))
                    {
                        <div>
                            @Html.DisplayFor(model => model.Header1)
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.Header2))
                    {
                        <div>
                            @Html.DisplayFor(model => model.Header2)
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.Header3))
                    {
                        <div>
                            @Html.DisplayFor(model => model.Header3)
                        </div>
                    }
                    <br />
                    Informe de Resultado(s)
                </td>
                <td rowspan="4" style="width: 0"></td>
                <td style="width: 10%"></td>
            </tr>
        </table>
        <table class="tg2" style="width:100%">
            <tr>
                <th class="tg-z4d3">Id de Resultado</th>
                <th class="tg-z4d3">Record Paciente</th>
                <th class="tg-1lb6">Edad</th>
                <th class="tg-1lb6">Sexo</th>
                <th class="tg-1lb6" colspan="2">Medico que Refiere</th>
            </tr>
            <tr>
                <td class="tg-88td">@Model.RefNumber</td>
                <td class="tg-88td">@Model.Patient.Record2</td>
                <td class="tg-88td">@Model.Patient.Age</td>
                <td class="tg-88td">@Model.Patient.Person.Gender.Name</td>
                <td class="tg-88td" colspan="2">
                    @if (!string.IsNullOrEmpty(Model.MedRef))
                    {
                        @Html.DisplayFor(model => model.MedRef)
                    }
                </td>
            </tr>
            <tr>
                <td class="tg-h3l9" colspan="4">Datos del Paciente</td>
                <td class="tg-h3l9">Fecha Muestra</td>
                <td class="tg-h3l9">Fecha Resultados</td>
            </tr>
            <tr>
                <td class="tg-88td" colspan="4">
                    @Model.Patient.Person.Name &nbsp; @Model.Patient.Person.LastName
                    <br />
                    @Model.Patient.Person.Address <br />
                    @Model.Patient.Person.Tel
                </td>
                <td class="tg-88td">
                    @ViewBag.RealizationDate
                </td>
                <td class="tg-88td">
                    @ViewBag.ResultDate
                </td>
            </tr>

        </table>
    </div>

    <div style="height: 60%; width: 100%">
        <table class="tg" id="TableBody2" style="width: 100%;font-size: 12pt; font-family: Times New Roman">
            <tr style="text-align:left">
                @*<th class="tg-0qnx"></th>*@
                <th class="tg-0qnx">Prueba</th>
                <th class="tg-0qnx">Resultado</th>
                <th class="tg-0qnx">Referencia/Control</th>
                <th class="tg-0qnx">Unidades</th>
            </tr>
            @if ((Model.AnalyticalDetails.Count > 0))
            {
                 
                var idTitle = 0;
                foreach (var item in Model.AnalyticalDetails)
                {
                    if (item.LaboratoryDetail.Laboratory.LabClasificationId != idTitle)
                    {
                        if (item.LaboratoryDetail.Laboratory.LabClasificationId != null)
                        {
                            idTitle = (int)item.LaboratoryDetail.Laboratory.LabClasificationId;
                        
                        <tr>
                            <td style="text-align: center" colspan="4">
                                <u>    @Html.DisplayFor(modelItem => item.LaboratoryDetail.Laboratory.LabClasification.Name)
                                </u> 
                            </td>
                            @*<td class="tg-yw4l">&nbsp;</td>
                            <td class="tg-yw4l">
                                @Html.DisplayFor(modelItem => item.LaboratoryDetail.Result)
                            </td> 
                            <td class="tg-yw4l">
                                @Html.DisplayFor(modelItem => item.LaboratoryDetail.Laboratory.Reference)
                            </td>
                            <td class="tg-yw4l">
                                @Html.DisplayFor(modelItem => item.LaboratoryDetail.Laboratory.Unids)
                            </td>*@ 
                        </tr>
                        }
                    }

                    <tr>

                        <td class="tg-yw4l">
                            @Html.DisplayFor(modelItem => item.LaboratoryDetail.Laboratory.Name)
                        </td>
                        <td class="tg-yw4l">
                            @Html.DisplayFor(modelItem => item.LaboratoryDetail.Result)
                        </td>@*unidades*@
                        <td class="tg-yw4l">
                            @Html.DisplayFor(modelItem => item.LaboratoryDetail.Laboratory.Reference)
                        </td>
                        <td class="tg-yw4l">
                            @Html.DisplayFor(modelItem => item.LaboratoryDetail.Laboratory.Unids)
                        </td>@*Referencia*@
                    </tr>
                }
            }


            @if (!string.IsNullOrEmpty(Model.Notes))
            {
                <tr>
                    <td class="tg-yw4l" colspan="4"> Notas u Observaciones Generales: </td>
                </tr>
                <tr>
                    <td class="tg-yw4l" colspan="4">
                        @Html.DisplayFor(modelItem => Model.Notes)
                    </td>
                </tr>
            }



            <tr>
                @*<td class="tg-yw4l"></td>*@
                <td class="tg-yw4l"></td>
                <td class="tg-yw4l"></td>
                <td class="tg-yw4l"></td>
                <td class="tg-yw4l"></td>
            </tr>
            <tr>
                @*<td class="tg-yw4l"></td>*@
                <td class="tg-yw4l"></td>
                <td class="tg-yw4l"></td>
                <td class="tg-yw4l"></td>
                <td class="tg-yw4l"></td>
            </tr>
        </table>

    </div>

</div>

<script>
    window.onload = function () {

        window.print();
    }
    // window.close();
</script>