@model Domain.MED.Obstetric

@{
    ViewBag.Title = "Registrar Historia Pre Natal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PatientId)

        <div class="form-group">
            <div class="col-md-2">
                Tipo de Sangre
            </div>
            <div class="col-md-2">
                @Html.DropDownList("BloodTypeId", null, htmlAttributes: new { @class = "form-control" })

            </div>
            @Html.LabelFor(model => model.CreationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.CreationDate, new { htmlAttributes = new { @class = "form-control PsDates" } })
                @Html.ValidationMessageFor(model => model.CreationDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Allergies, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Allergies, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Allergies, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Coombs, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Coombs, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Coombs, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.App, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.App, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.App, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastPregnant, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.LastPregnant, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastPregnant, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Hb, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Hb, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hb, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Plaq, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Plaq, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Plaq, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Glycemia, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Glycemia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Glycemia, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Urine, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Urine, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Urine, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Vdrl, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Vdrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Vdrl, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.HbsAg, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.HbsAg, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HbsAg, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Hvc, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Hvc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hvc, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Hiv, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Hiv, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Hiv, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Falcemia, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Falcemia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Falcemia, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Electrophoresis, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Electrophoresis, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Electrophoresis, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Dmg, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Dmg, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dmg, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.InductionLungMaturity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.InductionLungMaturity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InductionLungMaturity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FstTt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.FstTt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FstTt, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.SndTt, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.SndTt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SndTt, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Gesta, htmlAttributes: new { @class = "control-label col-md-2" })

            @Html.LabelFor(model => model.P, htmlAttributes: new { @class = "control-label col-md-1" })
            @Html.LabelFor(model => model.C, htmlAttributes: new { @class = "control-label col-md-1" })
            @Html.LabelFor(model => model.A, htmlAttributes: new { @class = "control-label col-md-1" })
            @Html.LabelFor(model => model.E, htmlAttributes: new { @class = "control-label col-md-1" })
        </div>

        <div class="form-group">

            <div class="col-md-2">
                @Html.EditorFor(model => model.Gesta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gesta, "", new { @class = "text-danger" })
            </div>


            <div class="col-md-1">
                @Html.EditorFor(model => model.P, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.P, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-1">
                @Html.EditorFor(model => model.C, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.C, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-1">
                @Html.EditorFor(model => model.A, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.A, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-1">
                @Html.EditorFor(model => model.E, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.E, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Fum, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Fum, new { htmlAttributes = new { @class = "form-control PsDates" } })
                @Html.ValidationMessageFor(model => model.Fum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fpp, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Fpp, new { htmlAttributes = new { @class = "form-control  PsDates" } })
                @Html.ValidationMessageFor(model => model.Fpp, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-7" style="color:red">
                Esta fecha se calcula (llena) cuando guardes al llenar la fecha de ultima menstruacion (FUM)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sonography, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Sonography, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sonography, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BornObservations, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.BornObservations, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BornObservations, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
                <a class="btn btn-warning" href="@Url.Action("Details", "Patients", new { area = "Medicals" , id=@Model.PatientId })">
                    <span class="fa fa-times "></span> Cancelar
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o "></i> Guardar
                </button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(function () {

            $('#Fpp,#BloodTypeId').attr('disabled', true);

        });
    </script>
}