@model Domain.MED.Recipe

@{
    ViewBag.Title = "Detalle de Receta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PatientId)
        @Html.HiddenFor(model => model.DoctorText)
        @Html.HiddenFor(model => model.PatientName)
        @Html.HiddenFor(model => model.Place)
        @Html.HiddenFor(model => model.RecipeId)
        @*ViewBag.AuthorId*@
        <p>
            <a class="btn btn-success" href="@Url.Action("IndexRecipes", "Patients", new { area = "Medicals", id = Model.PatientId })">
                <span class="fa fa-reply"></span> Volver atras
            </a>
            <a class="btn btn-warning" href="@Url.Action("EditRecipes", "Patients", new { area = "Medicals", id = Model.RecipeId })"> <span class="fa fa-pencil-square-o"></span> Editar Receta </a>
            @*<a class="btn btn-primary" id="BtnPrint">
                <span class="fa fa-print"></span> Imprimir
            </a>*@
            <a class="btn btn-primary" id="BtnPrintA4">
                <span class="fa fa-print"></span> Imprimir en A4
            </a>
            <a class="btn btn-primary" id="BtnPrintA6">
                <span class="fa fa-print"></span> Imprimir en Media Pagina
            </a>
            <a class="btn btn-primary" id="BtnPrintA4Empty">
                <span class="fa fa-print"></span> Imprimir Sin Formato en A4
            </a>
            <a class="btn btn-primary" id="BtnPrintA6Empty">
                <span class="fa fa-print"></span> Imprimir Sin Formato en Media Pagina
            </a>
        </p>

        <div class="form-group">
            @Html.LabelFor(model => model.RecipeDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.RecipeDate, new { htmlAttributes = new { @class = "form-control PsDates" } })
                @Html.ValidationMessageFor(model => model.RecipeDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RecipeText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.RecipeText, new { htmlAttributes = new { @class = "form-control", rows = "10" } })
                @Html.ValidationMessageFor(model => model.RecipeText, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observations, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Observations, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Observations, "", new { @class = "text-danger" })
            </div>
        </div>

        
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Areas/Medicals/JS/Recipe.js"></script>
    
    <script type="text/javascript">

        $(document).ready(function () {

            $('#BtnPrintA4').click(function () {
                
                var url = '@Url.Action("RecipeA4", "Patients",new {area="Medicals"})';

                url += "/" + $("#RecipeId").val();
               
                var win = window.open(url);

                if (win) {
                    //Browser has allowed it to be opened
                    win.focus();
                } else {
                    //Browser has blocked it
                    alert("Porfavor, debes permitir que se abran las ventanas emergentes o el reporte no va a salir :'( ");
                }
               
            });

            $('#BtnPrintA6').click(function () {      
            
                var url = '@Url.Action("RecipeA6", "Patients",new {area="Medicals"})';

                url += "/" + $("#RecipeId").val();
                var win = window.open(url);

                if (win) {
                    //Browser has allowed it to be opened
                    win.focus();
                } else {
                    //Browser has blocked it
                    alert("Porfavor, debes permitir que se abran las ventanas emergentes o el reporte no va a salir :'( ");
                }
                // window.location.href = url;
      
            });
            $('#BtnPrintA4Empty').click(function () {
                
                var url = '@Url.Action("RecipeA4Empty", "Patients",new {area="Medicals"})';

                url += "/" + $("#RecipeId").val();
               
                var win = window.open(url);

                if (win) {
                    //Browser has allowed it to be opened
                    win.focus();
                } else {
                    //Browser has blocked it
                    alert("Porfavor, debes permitir que se abran las ventanas emergentes o el reporte no va a salir :'( ");
                }
               
            });

            $('#BtnPrintA6Empty').click(function () {      
            
                var url = '@Url.Action("RecipeA6Empty", "Patients",new {area="Medicals"})';

                url += "/" + $("#RecipeId").val();
                var win = window.open(url);

                if (win) {
                    //Browser has allowed it to be opened
                    win.focus();
                } else {
                    //Browser has blocked it
                    alert("Porfavor, debes permitir que se abran las ventanas emergentes o el reporte no va a salir :'( ");
                }
                // window.location.href = url;
      
            });



        });
    </script>
}
