@model Domain.MED.GeneralAfection

@{
    ViewBag.Title = "Historia Diagnostica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PatientId)
        @Html.HiddenFor(model => model.GeneralAfectionId)
        <p>
            <a class="btn btn-success" href="@Url.Action("Details", "Patients", new { area = "Medicals", id = @Model.PatientId })">
                <span class="fa fa-reply"></span> Volver atras
            </a>
            <a class="btn btn-warning" href="@Url.Action("EditGeneralAfections", "Patients", new { area = "Medicals", id = @Model.GeneralAfectionId })"> <span class="fa fa-pencil-square-o"></span> Editar Expediente </a>


        </p>

        <div class="form-group">
            @Html.LabelFor(model => model.VisitDate, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.VisitDate, new { htmlAttributes = new { @class = "form-control PsDates" } })
                @Html.ValidationMessageFor(model => model.VisitDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VisitReason, new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.VisitReason, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VisitReason, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Symptoms, new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Symptoms, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Symptoms, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhysicalExam, new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.PhysicalExam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhysicalExam, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Labs, new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Labs, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Labs, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Conclusion, new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Conclusion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Conclusion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Indications, new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Indications, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Indications, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
            </div>
        </div>

        <section class="MySection">
            <h4>Visitas Asociadas</h4>
        </section>

        <div>
            <a class="btn btn-primary" href="@Url.Action("CreateGeneralVisits", "Patients", new { area = "Medicals", id = @Model.GeneralAfectionId })"> <span class="fa fa-plus"></span>   Registrar Visita</a>

        </div>
        <br />
        <div class="row">
            <div class="col-md-12">

                @if (Model.GeneralVisits.Count == 0)
                {
                    <h2>No existen Visitas registradas aun :'(</h2>
                }
                else
                {
                    <div class="scroller">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        Fecha
                                    </th>
                                    <th>
                                        Razon de la Visita
                                    </th>
                                    <th>
                                        Diagnostico
                                    </th>
                                    <th>
                                        Resumen de Evolucion
                                    </th>
                                    <th>
                                        Indicaciones
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.GeneralVisits)
                                {
                                    <tr>
                                        <td>
                                            <a class="btn btn-warning" href="@Url.Action("EditGeneralVisits", "Patients", new { area = "Medicals", id = @item.GeneralVisitId })"> <span class="fa fa-pencil-square-o "></span> Editar</a>
                                            <a class="btn btn-danger" href="@Url.Action("DeleteGeneralVisits", "Patients", new { area = "Medicals", id = @item.GeneralVisitId })" onclick="return confirm('Esta seguro que desea eliminar este registro?')"> <span class="fa fa-trash-o"></span> Eliminar </a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VisitDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VisitReason)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Diagnostic)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Conclusion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Indications)
                                        </td>


                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>

        </div>
        <hr /><hr />
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(function () {

            $('input,textarea').attr('disabled', true);
            $('table').DataTable();
        });
    </script>
}
