@model Domain.MED.Orthopedic

@{
    ViewBag.Title = "Detalle de Historia Ortopedica ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.PatientId)
    @Html.HiddenFor(model => model.OrthopedicId)
    <p>
        <a class="btn btn-success" href="@Url.Action("IndexOrthopedics", "Patients", new { area = "Medicals", id = @Model.PatientId })">
            <span class="fa fa-reply"></span> Volver atras
        </a>
        <a class="btn btn-warning" href="@Url.Action("EditOrthopedics", "Patients", new { area = "Medicals", id = @Model.OrthopedicId })"> <span class="fa fa-pencil-square-o"></span> Editar Expediente </a>
        @*<a class="btn btn-primary" id="BtnPrint">
                <span class="fa fa-print"></span> Imprimir
            </a>*@

    </p>
    <section class="MySection">
        <h4>Informacion General</h4>
    </section> <div class="form-group">
        @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
        <div class="col-md-2">
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control PsDates" } })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Motivo, new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Motivo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Motivo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Diagnostic, new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Diagnostic, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Diagnostic, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Evaluation, new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Evaluation, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Evaluation, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Procedure, new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Procedure, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Procedure, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Considerations, new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Considerations, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Considerations, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Recomendations, new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Recomendations, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Recomendations, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Treatment, new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Treatment, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Treatment, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Evolution, new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Evolution, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Evolution, "", new { @class = "text-danger" })
        </div>
    </div>


</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(function () {

            $('input,textarea,select').attr('disabled', true);
        });

    </script>
}