@model Domain.MED.Gynecology

@{
    ViewBag.Title = "Editar Historia Ginecologica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PatientId)
        @Html.HiddenFor(model => model.GynecologyId)
        <section class="MySection">
            <h4>Historia</h4>
        </section>
        <div class="form-group">
            @Html.LabelFor(model => model.Menarche, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Menarche, new { htmlAttributes = new { @class = "form-control BigTextArea" } })
                @Html.ValidationMessageFor(model => model.Menarche, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pubarquia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Pubarquia, new { htmlAttributes = new { @class = "form-control BigTextArea" } })
                @Html.ValidationMessageFor(model => model.Pubarquia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telarquia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Telarquia, new { htmlAttributes = new { @class = "form-control BigTextArea" } })
                @Html.ValidationMessageFor(model => model.Telarquia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MenstrualPatron, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.MenstrualPatron, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MenstrualPatron, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Dysmenorrhoea, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Dysmenorrhoea, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dysmenorrhoea, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.FirstSexualRelation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.FirstSexualRelation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstSexualRelation, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.SexualRelationPerWeek, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.SexualRelationPerWeek, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SexualRelationPerWeek, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.NoSexualPartners, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.NoSexualPartners, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NoSexualPartners, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.MarriedTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.MarriedTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MarriedTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <section class="MySection">
            <h4>Uso Anticonceptivo</h4>
        </section>
        <div class="form-group">
            @Html.LabelFor(model => model.ActualUse, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.ActualUse, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ActualUse, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.PastUse, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.PastUse, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PastUse, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Oral, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Oral, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Oral, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Div, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Div, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Div, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Barrier, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Barrier, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Barrier, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Norplat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Norplat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Norplat, "", new { @class = "text-danger" })
            </div>
        </div>


        <section class="MySection">
            <h4>Historia Obstetricia</h4>
        </section>
        <div class="form-group">
            @Html.LabelFor(model => model.Gestas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Gestas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gestas, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Pregnancies, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Pregnancies, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pregnancies, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Caesarean, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Caesarean, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Caesarean, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Abortions, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Abortions, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Abortions, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.AliveChilds, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.AliveChilds, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AliveChilds, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.PrematureChilds, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.PrematureChilds, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrematureChilds, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.BornedDead, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.BornedDead, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BornedDead, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.LastPregnant, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.LastPregnant, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastPregnant, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Forceps, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Forceps, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Forceps, "", new { @class = "text-danger" })
            </div>
        </div>
        <section class="MySection">
            <h4> Otros </h4>
        </section>
        <div class="form-group">
            @Html.LabelFor(model => model.LabsResult, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.LabsResult, new { htmlAttributes = new { @class = "form-control BigTextArea" } })
                @Html.ValidationMessageFor(model => model.LabsResult, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observations, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Observations, new { htmlAttributes = new { @class = "form-control BigTextArea" } })
                @Html.ValidationMessageFor(model => model.Observations, "", new { @class = "text-danger" })
            </div>
        </div>
    
    
        <hr /><hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">

                <a class="btn btn-warning" href="../Details/@Model.PatientId">
                    <span class="fa fa-times "></span> Cancelar
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o "></i> Guardar
                </button>
            </div>
        </div>
    </div>
}


