@model IEnumerable<Domain.MED.Orthopedic>

@{
    ViewBag.Title = "Historias Ortopedica del Paciente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a class="btn btn-success" href="@Url.Action("Details", "Patients", new { area = "Medicals" , id=ViewBag.PatientId })">
        <span class="fa fa-reply"> Volver a Atras</span>
    </a>
    <a class="btn btn-primary" href="@Url.Action("CreateOrthopedics", "Patients", new { area = "Medicals" , id=ViewBag.PatientId })"> <span class="fa fa-user-plus"></span> Registrar Nueva Historia Ortopedica</a>
</p>

<div class="scroller">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Motivo)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Diagnostic)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="btn btn-warning" href="@Url.Action("EditOrthopedics", "Patients", new {area = "Medicals", id = item.OrthopedicId})"> <span class="fa fa-pencil-square-o"></span> Editar</a>
                        <a class="btn btn-info" href="@Url.Action("DetailsOrthopedics", "Patients", new {area = "Medicals", id = item.OrthopedicId})"> <span class="fa fa-info"></span> Detalles</a>
                        <a class="btn btn-danger" href="@Url.Action("DeleteOrthopedics", "Patients", new {area = "Medicals", id =item.OrthopedicId})" onclick="return confirm('Esta seguro que desea eliminar este registro?')"> <span class="fa fa-trash-o"></span> Eliminar</a>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Motivo)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.Diagnostic)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('table').DataTable();
        });
    </script>

}


