@model IEnumerable<Domain.MED.MedicalCertificate>
    
@{
    ViewBag.Title = "Certificados Medicos del Paciente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a class="btn btn-success" href="@Url.Action("Details", "Patients", new { area = "Medicals" , id=ViewBag.PatientId })">
        <span class="fa fa-reply"> Volver a Atras</span>
    </a>
    <a class="btn btn-primary" href="@Url.Action("CreateMedicalCertificates", "Patients", new { area = "Medicals" , id=ViewBag.PatientId })"> <span class="fa fa-user-plus"></span> Registrar Nuevo Certificado</a>
</p>

<div class="scroller">
    <table class="table">
        <thead>
        <tr><th></th>
            <th>
                Fecha
            </th>

            <th>
                Recomendaciones
            </th>
          
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-warning" href="@Url.Action("EditMedicalCertificates", "Patients", new { area = "Medicals", id = item.MedicalCertificateId })"> <span class="fa fa-pencil-square-o"></span> Editar</a>
                    <a class="btn btn-info" href="@Url.Action("DetailsMedicalCertificates", "Patients", new {area = "Medicals", id = item.MedicalCertificateId})"> <span class="fa fa-info"></span> Detalles</a>
                    <a class="btn btn-danger" href="@Url.Action("DeleteMedicalCertificates", "Patients", new {area = "Medicals", id =item.MedicalCertificateId})" onclick="return confirm('Esta seguro que desea eliminar este registro?')"> <span class="fa fa-trash-o"></span> Eliminar</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicalCertificateDate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Recomendations)
                </td>
                
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('table').DataTable();
        });
    </script>

}