@model IEnumerable<Domain.MED.Treatment>

@{
    ViewBag.Title = "Historias Terapeutica del Paciente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a class="btn btn-success" href="@Url.Action("Details", "Patients", new { area = "Medicals" , id=ViewBag.PatientId })">
        <span class="fa fa-reply"> Volver a Atras</span>
    </a>
    <a class="btn btn-primary" href="@Url.Action("CreateTreatments", "Patients", new { area = "Medicals" , id=ViewBag.PatientId })"> <span class="fa fa-user-plus"></span> Registrar Nueva Historia Diagnostica (Nueva Consulta)</a>
</p>

<div class="scroller">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnostic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicaments)
            </th>
            

        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-warning" href="@Url.Action("EditTreatments", "Patients", new {area = "Medicals", id = item.TreatmentId})"> <span class="fa fa-pencil-square-o"></span> Editar</a>
                    <a class="btn btn-info" href="@Url.Action("DetailsTreatments", "Patients", new {area = "Medicals", id = item.TreatmentId})"> <span class="fa fa-info"></span> Detalles</a>
                    <a class="btn btn-danger" href="@Url.Action("DeleteTreatments", "Patients", new {area = "Medicals", id =item.TreatmentId})" onclick="return confirm('Esta seguro que desea eliminar este registro?')"> <span class="fa fa-trash-o"></span> Eliminar</a>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TreatmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diagnostic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Medicaments)
                </td>
               

            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('table').DataTable();
        });
    </script>

}


