@model IEnumerable<Domain.MED.LaboratoryResult>

@{
    ViewBag.Title = "Resultados de Analiticas del Paciente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a class="btn btn-success" href="@Url.Action("Details", "Patients", new { area = "Medicals" , id=ViewBag.PatientId })">
        <span class="fa fa-reply"> Volver a Atras</span>
    </a>
    <a class="btn btn-primary" href="@Url.Action("CreateLaboratoryResultsOld", "Patients", new { area = "Medicals" , id=ViewBag.PatientId })"> <span class="fa fa-user-plus"></span> Registar Nuevos Resultados de Analitica</a>
</p>

<div class="scroller">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.RealizationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResultDate)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="btn btn-warning" href="@Url.Action("EditLaboratoryResultsOld", "Patients", new {area = "Medicals", id = item.LaboratoryResultId})"> <span class="fa fa-pencil-square-o"></span> Editar</a>
                        <a class="btn btn-info" href="@Url.Action("DetailsLaboratoryResultsOld", "Patients", new {area = "Medicals", id = item.LaboratoryResultId})"> <span class="fa fa-info"></span> Detalles</a>
                        <a class="btn btn-danger" href="@Url.Action("DeleteLaboratoryResultsOld", "Patients", new {area = "Medicals", id =item.LaboratoryResultId})" onclick="return confirm('Esta seguro que desea eliminar este registro?')"> <span class="fa fa-trash-o"></span> Eliminar</a>

                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.RealizationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResultDate)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('table').DataTable();
        });
    </script>

}