@model Domain.SEG.Rol

@{
    ViewBag.Title = "Rol";
}

<h2>Author: @Model.Author.Name</h2>
<h3>Rol: @Model.Name</h3>

<p>
    <a class="btn btn-success" href="@Url.Action("Details", "Authors", new { area = "Configurations" ,id=@Model.AuthorId  })">
        <span class="fa fa-reply"></span> Retornar a los Clientes PraySoft 
    </a>
    <a class="btn btn-primary" href="@Url.Action("CreateOptionToRol", "Authors", new { area = "Configurations" , id=@Model.RolId })">
        <span class="fa fa-plus"></span>  Asignar Opcion
    </a>
    
</p>

@if (Model.OptionRols.Count == 0)
{
    <h3>No hay opciones asignadas a este rol</h3>

}
else
{
    <table class="table">
        <tr>


            <th>
                Opcion
            </th>
            <th>
                Link
            </th>
            <th>
                Desde
            </th>
            <th>

                Hasta
            </th>
            <th>
                Indefinido?
            </th>
            <th>
                Estado
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.OptionRols.OrderBy(m => m.Option.Name))
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Option.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Option.Link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Undefined)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>

                <td>
                    <a class="btn btn-warning" href="@Url.Action("EditOptionToRol", "Authors", new { area = "Configurations" , id=@item.OptionRolId })">
                        <span class="fa fa-info-circle"></span>
                    </a>
                    <a class="btn btn-danger" href="@Url.Action("DeleteOptionToRol", "Authors", new { area = "Configurations" , id=@item.OptionRolId })"
                       onclick="return confirm('Esta seguro que desea eliminar este registro?')">
                        <span class="fa fa-trash"></span>
                    </a>
                   
                </td>
            </tr>
        }

    </table>
}
