@model Backend.Areas.Medicals.Models.MedicalCertificateView
@{
    Layout = null;
}
<style type="text/css">
 
    @@media print {

        html, body {
            height:100vh; 
            margin: 0 !important; 
            padding: 0 !important;
            overflow: hidden;
        }

    }

</style>

@*<style>
    @@page {
        margin: 1cm;
    }

    .print {
        display: none;
    }

    @@media print {
        div.fix-break-print-page {
            page-break-inside: avoid;
        }

        .print {
            display: block;
        }
    }

    .print:last-child {
        page-break-after: auto;
    }
</style>*@
@*<div style="height: 11.5in;width:8.3in">*@
<div style="max-width: 8.3in; max-height:5.6in">
    @*<div  >*@
    <div style="height: 6%; width: 100%">
        <table id="TableHeader" style="font-size: 10pt; font-family: Times New Roman; font-weight: bold; text-transform: uppercase">
            <tr>
                <td rowspan="4" style="width: 15%">

                    @if (!string.IsNullOrEmpty(Model.Imagen))
                    {
                        <img src="@Url.Content(Model.Imagen)" alt="Image" style="width: auto; height: 70px;" dir="rtl"/>
                    }
                </td>
                <td rowspan="4" style="width: 75%; text-align: center">
                    @if (!string.IsNullOrEmpty(Model.Header1))
                    {
                        <div>
                            @Html.DisplayFor(model => model.Header1)
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.Header2))
                    {
                        <div>
                            @Html.DisplayFor(model => model.Header2)
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.Header3))
                    {
                        <div>
                            @Html.DisplayFor(model => model.Header3)
                        </div>
                    }
                    <br/>Certificado Medico
                </td>
                <td rowspan="4" style="width: 0"></td>
                <td style="width: 10%"></td>
            </tr>
        </table>
    </div>

    <div style="height: 36%; width: 100%">
        <div  style="font-size: 8pt; font-family: Times New Roman;">
            <hr/><br/><br />
           <br/>
            <div class="row">
                
                Yo: <b> @Html.DisplayFor(model => model.DoctorText)</b>
                @if (!string.IsNullOrEmpty(Model.Exequartur))
                { 
                    <span  >
                   , exequatur     @Html.DisplayFor(model => model.Exequartur) ,       @Html.DisplayFor(model => model.Cmd)
                    </span>
                }
            </div>
            <br/> 
            <div class="row">
                Certifico haber examinado a: <b> @Html.DisplayFor(model => model.PatientName)</b>
            </div>
            <br/> 
            
            <br/>
            <div class="row">
                Quien presenta: <b> @Html.DisplayFor(model => model.Affections)</b>
            </div>
            <br/> 
             <br/>
            <div class="row">
                Por lo que recomiendo: <b> @Html.DisplayFor(model => model.Recomendations)</b>
            </div>
             

            <br/> 
            <div class="row">
                Expido la presente Certificación en: <b> @Html.DisplayFor(model => model.Place)</b>
            </div>
            
            <br />
            <div class="row">
                Fecha: <b> @Html.DisplayFor(model => model.MedicalCertificateDate)</b>
            </div>
            <br/><br/><br/> <br/>
            <div class="row" style="text-align: center">
                <center> Firma del Medico:___________________________________</center>
            </div>
        </div>
    </div>
    <hr/>
    @*<div style="position:absolute; bottom: 0; text-align: center">*@
    @*<div style="position:relative; text-align: center">*@
    <div  style="font-size: 9pt; font-family: Times New Roman; text-align: center; height: 2.5%; width: 100%">


        @if (!string.IsNullOrEmpty(Model.Footer1))
        {
            <div>
                @Html.DisplayFor(model => model.Footer1)
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.Footer2))
        {
            <div>
                @Html.DisplayFor(model => model.Footer2)
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.Footer3))
        {
            <div>
                @Html.DisplayFor(model => model.Footer3)
            </div>
        }

    </div>
    
</div>
<script>
    window.onload = function () {

        window.print();
    }
    // window.close();
</script>